@{
    ViewData["Title"] = "Library Management";
}


<div class="row" style="font-size:larger; padding-left:40px ; margin-bottom:40px ; margin-top: 60px"> LIBRARY MANAGEMENT</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" width="400" src="~/images/Dracula.jpg">
            <div class="caption">
                <h3>Library Catelog</h3>
                <p>View and Manage library assets</p>
                <hr />               
                <a class="btn btn-default" asp-controller="Catelog" asp-action="Index"> View Catelog</a>               
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" width="400" src="~/images/Emma.jpg">
            <div class="caption">
                <h3>Patrons</h3>
                <p>View and Manage Patrons</p>
                <hr />
                <a class="btn btn-default" asp-controller="Patron" asp-action="Index"> View Patrons Index</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" width="400" src="~/images/JaneEyre.jpg">
            <div class="caption">
                <h3>Branches</h3>
                <p>View and Manage Branches</p>
                <hr />
                <a class="btn btn-default" asp-controller="Branch" asp-action="Index"> View Branches Index</a>
            </div>
        </div>
    </div>

</div>

